public/2010/xml/rest/schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.sysmo-db.org/2010/xml/rest"
	xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sysmo-db.org/2010/xml/rest"
	elementFormDefault="qualified" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/">

	<xsd:import namespace="http://purl.org/dc/elements/1.1/"
		schemaLocation="dc.xsd" />
	<xsd:import namespace="http://purl.org/dc/terms/"
		schemaLocation="dcterms.xsd" />
	<xsd:import namespace="http://www.w3.org/1999/xlink"
		schemaLocation="xlink.xsd" />

	<xsd:complexType name="ResourceLink">
		<xsd:attribute ref="xlink:href" use="required"></xsd:attribute>
		<xsd:attribute ref="xlink:title" use="optional"></xsd:attribute>
		<xsd:attribute name="resourceType" type="ResourceType"
			use="required"></xsd:attribute>
		<xsd:attribute name="id" type="xsd:positiveInteger"></xsd:attribute>
		<xsd:attribute name="uuid" type="xsd:string" use="optional"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="IndexLinks">
		<xsd:attribute ref="xlink:href" use="required"></xsd:attribute>
		<xsd:attribute ref="xlink:title" use="optional"></xsd:attribute>
		<xsd:attribute name="resourceType" type="ResourceType"
			use="required"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="MinimalIndex">
		<xsd:complexContent>
			<xsd:extension base="IndexLinks">

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MinimalType">
		<xsd:complexContent>
			<xsd:extension base="ResourceLink">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:positiveInteger"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element ref="dc:title" maxOccurs="1" minOccurs="1">
					</xsd:element>
					<xsd:element ref="dc:description" maxOccurs="1"
						minOccurs="0">
					</xsd:element>
					<xsd:element ref="dcterms:created" maxOccurs="1"
						minOccurs="1">
					</xsd:element>
					<xsd:element ref="dcterms:modified" maxOccurs="1"
						minOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="project" type="Project"></xsd:element>
	<xsd:element name="projects" type="Projects"></xsd:element>

	<xsd:complexType name="Project">
		<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="uuid" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="organisms" type="OrganismItems"
						maxOccurs="1" minOccurs="0"></xsd:element>
					<xsd:element name="webpage" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="internal_webpage" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="avatars" type="Avatars" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="associated" type="AssociatedItems"
						minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Projects">
		<xsd:complexContent>
			<xsd:extension base="MinimalIndex">
				<xsd:sequence>
					<xsd:element name="parameters" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="statistics" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="items" type="ProjectItems"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="related" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ProjectItems">
		<xsd:sequence>
			<xsd:element name="project" type="ProjectItem" maxOccurs="unbounded"
				minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProjectItem">
		<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="uuid" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="person" type="Person"></xsd:element>
	<xsd:element name="people" type="People"></xsd:element>

	<xsd:complexType name="Person">
		<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="uuid" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="email" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="webpage" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="phone" type="xsd:string" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="avatars" type="Avatars" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="first_name" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="last_name" type="xsd:string"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="groups" type="Groups" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="tags" type="Tags" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="associated" type="AssociatedItems"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="People">
		<xsd:complexContent>
			<xsd:extension base="MinimalIndex">
				<xsd:sequence>
					<xsd:element name="parameters" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="statistics" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="items" type="PersonItems" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="related" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PersonItems">
		<xsd:sequence>
			<xsd:element name="person" type="PersonItem" maxOccurs="unbounded"
				minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PersonItem">
		<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="uuid" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
					<xsd:element name="first_name" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="last_name" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Tags">
		<xsd:sequence>
			<xsd:element name="tag" type="Tag" minOccurs="0"
				maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Tag">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="context" type="xsd:string" use="required"></xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>



	<xsd:complexType name="Avatars">
		<xsd:sequence>
			<xsd:element name="avatar" type="ResourceLink" minOccurs="0"
				maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Groups">
		<xsd:sequence>
			<xsd:element name="group" type="Group" minOccurs="0"
				maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Group">
		<xsd:complexContent>
			<xsd:extension base="ResourceLink">
				<xsd:sequence>
					<xsd:element name="project" type="ResourceLink"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="institution" type="ResourceLink"
						maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="strain" type="Strain"></xsd:element>
	<xsd:element name="strains" type="Strains"></xsd:element>

	<xsd:complexType name="Strain">
		<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="organisms" type="OrganismItems"
						maxOccurs="1" minOccurs="0">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Strains">
		<xsd:complexContent>
			<xsd:extension base="MinimalIndex">
				<xsd:sequence>
					<xsd:element name="parameters" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="statistics" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="items" type="StrainItems" maxOccurs="1"
						minOccurs="1"></xsd:element>
					<xsd:element name="related" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Organisms">
		<xsd:complexContent>
			<xsd:extension base="MinimalIndex">
				<xsd:sequence>
					<xsd:element name="parameters" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="statistics" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="items" type="OrganismItems"
						maxOccurs="1" minOccurs="1"></xsd:element>
					<xsd:element name="related" type="xsd:anyType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StrainItems">
		<xsd:sequence>
			<xsd:element name="strain" type="MinimalType" maxOccurs="unbounded"
				minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="organism" type="Organism"></xsd:element>
	<xsd:element name="organisms" type="Organisms"></xsd:element>


	<xsd:complexType name="OrganismItems">
		<xsd:sequence>
			<xsd:element name="organism" type="MinimalType"
				maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="ResourceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Avatar"></xsd:enumeration>
			<xsd:enumeration value="Strain"></xsd:enumeration>
			<xsd:enumeration value="Strains"></xsd:enumeration>
			<xsd:enumeration value="Organism"></xsd:enumeration>
			<xsd:enumeration value="Organisms"></xsd:enumeration>
			<xsd:enumeration value="Person"></xsd:enumeration>
			<xsd:enumeration value="People"></xsd:enumeration>
			<xsd:enumeration value="Project"></xsd:enumeration>
			<xsd:enumeration value="Projects"></xsd:enumeration>
			<xsd:enumeration value="Institution"></xsd:enumeration>
			<xsd:enumeration value="Institutions"></xsd:enumeration>
			<xsd:enumeration value="Model"></xsd:enumeration>
			<xsd:enumeration value="Models"></xsd:enumeration>
			<xsd:enumeration value="Sop"></xsd:enumeration>
			<xsd:enumeration value="Sops"></xsd:enumeration>
			<xsd:enumeration value="DataFile"></xsd:enumeration>
			<xsd:enumeration value="DataFiles"></xsd:enumeration>
			<xsd:enumeration value="Assay"></xsd:enumeration>
			<xsd:enumeration value="Assays"></xsd:enumeration>
			<xsd:enumeration value="Study"></xsd:enumeration>
			<xsd:enumeration value="Studies"></xsd:enumeration>
			<xsd:enumeration value="Investigation"></xsd:enumeration>
			<xsd:enumeration value="Investigations"></xsd:enumeration>
			<xsd:enumeration value="WorkGroup"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>


    <xsd:complexType name="Organism">
    	<xsd:complexContent>
			<xsd:extension base="MinimalType">
				<xsd:sequence>
					<xsd:element name="strains" type="StrainItems" minOccurs="1" maxOccurs="1"></xsd:element>
					<xsd:element name="associated" type="AssociatedItems" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="AssociatedItems">    
    	<xsd:all>
    		<xsd:element name="studies" type="xsd:anyType"></xsd:element>
    		<xsd:element name="publications" type="xsd:anyType"></xsd:element>
    		<xsd:element name="people" type="xsd:anyType"></xsd:element>
    		<xsd:element name="sops" type="xsd:anyType"></xsd:element>
    		<xsd:element name="models" type="xsd:anyType"></xsd:element>
    		<xsd:element name="data_files" type="xsd:anyType"></xsd:element>
    		<xsd:element name="assays" type="xsd:anyType"></xsd:element>
    		<xsd:element name="projects" type="xsd:anyType"></xsd:element>
    		<xsd:element name="investigations" type="xsd:anyType"></xsd:element>
    		<xsd:element name="institutions" type="xsd:anyType"></xsd:element>
    	</xsd:all>
    
    </xsd:complexType>
    
</xsd:schema>